body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  background-color: #999;
}

ul {
  list-style-type: none;
  color: black;
}

#wrapper {
  display: grid;
  grid-template-areas:
    'c c c c c'
    'e . f . g';
  grid-template-columns: 300px auto minmax(60px, 900px) auto 320px;
  grid-template-rows: 60px minmax(300px, auto);
  height: 100vh;
}

@media (max-width: 1098px) {
  #wrapper {
    grid-template-areas:
      'c c'
      'f g';
    grid-template-columns: minmax(60px, 900px) 320px;
  }
}

@media (max-width: 900px) {
  #wrapper {
    grid-template-areas:
      'c'
      'f';
    grid-template-columns: minmax(60px, 900px) !important;
  }
}

@media (max-width: 675px) {
  #wrapper {
    grid-template-areas:
      'c'
      'f';
    grid-template-columns: auto minmax(auto, 900px);
  }
}
