body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  background-color: #1c1e22;
}

#wrapper {
  display: grid;
  grid-template-areas:
    'c c c c c'
    'e . f . g';
  grid-template-columns: 300px auto minmax(60px, 900px) auto 320px;
  grid-template-rows: 60px minmax(300px, auto);
  height: 100vh;
}

#view {
  grid-area: f;
  display: flex;
  width: 90%;
  max-width: 27rem;
  max-height: 35rem;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.view__card {
  grid-area: f;
  width: 90%;
  max-width: 17rem;
  max-height: 35rem;
  margin: auto;
  padding: 1rem 5rem 1.5rem;
  text-align: center;
}

.view__card > form {
  padding-bottom: 1rem;
}

@media (max-width: 1098px) {
  #wrapper {
    grid-template-areas:
      'c c'
      'f g';
    grid-template-columns: minmax(60px, 900px) 320px;
  }
}

@media (max-width: 900px) {
  #wrapper {
    grid-template-areas:
      'c'
      'f';
    grid-template-columns: minmax(60px, 900px) !important;
  }
}

@media (max-width: 675px) {
  #wrapper {
    grid-template-areas:
      'c'
      'f';
    grid-template-columns: auto minmax(auto, 900px);
  }
}
