.profile_card {
  grid-row: 1;
  margin: 5px 0 0 10px;
  display: grid;
  grid-template-areas:
    '. li .'
    'ln ln ln'
    'l1 . l2';
  grid-template-rows: 60px 88px 40px;
  border-radius: 10px;
  background: #272b30;
  border: 1px solid #111;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#profile_card_name {
  text-decoration: none;
  color: whitesmoke;
  font-size: 26px;
  grid-area: ln;
}

#avatarpanel_link_left {
  grid-area: l1;
  color: whitesmoke;
  text-decoration: none;
  padding-left: 30px;
}

#avatarpanel_link_right {
  grid-area: l2;
  color: whitesmoke;
  text-decoration: none;
  padding-right: 30px;
}

#profile_card_image {
  grid-area: li;
  padding-bottom: 30px;
}

#profile_card_image > img {
  width: 104px;
  border: 2px solid #63fc5d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 50%;
}
