.profile_card {
  grid-row: 1;
  margin-left: 20px;
  display: grid;
  grid-template-areas:
    '. li .'
    'ln ln ln'
    'l1 . l2';
  grid-template-rows: 50px 58px 45px;
  background-color: #666 !important;
  border-radius: 20px;
  background: #999;
  border: 1px solid #444;
  align-items: center;
}

#profile_card_name {
  color: whitesmoke;
  text-decoration: none;
  font-size: 26px;
  grid-area: ln;
}

#avatarpanel_link_left {
  grid-area: l1;
  text-decoration: none;
  color: #222;
  padding-left: 30px;
}

#avatarpanel_link_right {
  grid-area: l2;
  text-decoration: none;
  color: #222;
  padding-right: 30px;
}

#profile_card_image {
  grid-area: li;
  padding-bottom: 35px;
}
