#friends_bar {
  grid-row: 2/4;
  height: auto;
  display: grid;
  grid-template-rows: auto minmax(200px, 500px) 45px;
  margin-right: 10px;
}

.friendslist {
  color: whitesmoke;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin-bottom: 10px;
  grid-row: 2;
  background: #272b30;
  display: flex;
  margin-top: 20px;
  border: 1px solid #111;
  justify-content: center;
  align-items: center;
}

.friends_button {
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.friends_button > Button {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 34px;
  margin-bottom: 10px;
}

.friends_button > Button > .MuiSvgIcon-root {
  display: none;
}

@media (max-height: 660px) {
  #friends_bar {
    grid-row: 1/4;
  }
}

@media (min-width: 1098px) {
  .friendslist {
    display: none;
  }
}

@media (max-width: 1098px) {
  .friendslist {
    display: none;
  }
}

@media (max-width: 900px) {
  #friends_bar {
    justify-content: flex-end;
    grid-template-rows: auto minmax(300px, 600px) 45px;
  }
  .friendslist {
    margin-bottom: 40px;
    border-radius: 20px;
    width: 300px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .friends_button > Button {
    font-size: 0px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: 1px solid #444;
    justify-content: center;
  }

  .friends_button > Button > .MuiSvgIcon-root {
    display: block;
    padding-top: 2px;
    font-size: 32px;
  }
}
