.friends_bar {
  grid-row: 2/4;
  height: auto;
  display: grid;
  margin-right: 20px;
  grid-template-rows: auto minmax(200px, 500px) 45px;
}

.friendslist {
  background-color: #666 !important;
  color: whitesmoke;
  margin-right: 5px;
  border-radius: 20px;
  grid-row: 2;
  background: #999;
  display: flex;
  margin-top: 20px;
  border: 1px solid #444;
  justify-content: center;
  align-items: center;
}

.friends_button {
  grid-row: 3;
  background: #999;
  display: flex;

  justify-content: flex-end;
  align-items: flex-end;
}

.friends_button > button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: whitesmoke;
  background-color: #666;
  border: none;
  width: 295px;
  padding: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #444;
  outline-width: 0;
}

.friends_button > button:hover {
  background-color: #555;
  color: rgb(228, 228, 228);
  cursor: pointer;
}

@media (max-height: 660px) {
  .friends_bar {
    grid-row: 1/4;
  }
}

@media (min-width: 1098px) {
  /* .friendslist {
    display: none;
  } */
}

@media (max-width: 1098px) {
  /* .friendslist {
    display: none;
  } */
}

@media (max-width: 900px) {
  .friends_bar {
    justify-content: flex-end;
    grid-template-rows: auto minmax(300px, 600px) 45px;
  }
  .friendslist {
    margin-bottom: 40px;
    border-radius: 20px;
    background: #999;
    width: 300px;
    margin-top: 20px;
    border: 1px solid #444;
    justify-content: center;
    align-items: center;
  }
  .friends_button > button {
    font-size: 0px;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 40px;
    border: 1px solid #444;
  }
}
