.profile {
  margin: auto;
  width: 175px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile > p {
  display: flex;
  align-items: center;
}

.profile > p:hover {
  color: #63fc5d;
  cursor: pointer;
}

#profile__image {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #63fc5d;
}

#profile__image:hover {
  border: 1px solid whitesmoke;
  cursor: pointer;
}

@media (max-width: 1098px) {
  .profile {
    font-size: 0;
  }
}

@media (max-width: 900px) {
  .profile {
    font-size: 100%;
  }
}
