.notifications__container {
  grid-area: cd;
  background-color: none;
  display: flex;
  color: whitesmoke;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 675px) {
  .notifications__container {
    display: none;
  }
}
