.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #63fc5d;
  border-radius: 7px;
  background: #63fc5d;
  color: #1c1e22;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #99ff96;
  border-color: #8fff8b;
  color: #1c1e22;
}

.button--inverse {
  background: transparent;
  color: #02aa02;
}

.button--inverse:hover,
.button--inverse:active {
  color: #1c1e22;
  background: #63fc5d;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #8fff8b;
  border-color: #8fff8b;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
