#leftbar_navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#leftbar_navlinks > li {
  grid-row: 2;
  display: flex;
  color: #222;
  text-decoration: none;
  padding: 15px;
  width: 80%;
  height: 3em;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 15px;
}

#leftbar_navlinks > li:hover {
  background-color: #888;
  border-radius: 10px;
}

@media (max-width: 1098px) {
  #leftbar_navlinks > li {
    width: 98%;
  }
}
