.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  background: #272b30;
  color: whitesmoke;
  border: 1px solid #111;
}

@media (max-width: 675px) {
  .card {
    max-width: 200px !important;
  }
}
