.header {
  width: 100%;
  background-color: #666;
  gap: 10px;
  grid-area: c;
  display: grid;
  grid-template-areas: 'ca cb . cc . cd';
  grid-template-columns: 60px 240px auto minmax(60px, 900px) auto 300px;
  grid-template-rows: 60px;
  border-bottom: 1px solid #444;
}

#logo {
  grid-area: ca;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1098px) {
  .header {
    grid-template-areas: 'ca cb cc cd';
    grid-template-columns: 60px 250px minmax(60px, 900px) 180px;
  }
}

@media (max-width: 900px) {
  .header {
    grid-template-areas: 'ca cb cc cd';
    grid-template-columns: 60px minmax(60px, 900px) 60px 300px;
  }
}

@media (max-width: 675px) {
  .header {
    grid-template-areas: 'ca cb cc';
    grid-template-columns: 60px minmax(60px, 900px) 60px;
  }
}
