#left__bar {
  grid-area: e;
  display: grid;
  grid-template-rows: 155px minmax(300px, auto) 70px;
  margin-top: 50px;
  align-items: flex-start;
  text-align: center;
}

.leftbar__navlinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
  margin-top: 55px;
}

.leftbar__navlink {
  grid-row: 2;
  color: whitesmoke;
  display: flex;
  text-decoration: none;
  width: 86%;
  height: 3em;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px 10px 25px;
}

.leftbar__navlink--active {
  color: #63fc5d;
}

.leftbar__navlink:hover {
  background-color: #272b30;
  border-radius: 10px;
  color: #63fc5d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.leftbar__navlink > .MuiSvgIcon-root {
  font-size: xx-large;
  padding-right: 10px;
}

@media (min-width: 1098px) {
  #left__bar {
    display: grid;
  }
}

@media (max-width: 1098px) {
  #left__bar {
    display: none;
    grid-area: f;
    margin-right: 20px;
    max-width: 400px;
  }
}
