.hamburger {
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.hamburger:hover {
  background-color: #888;
  color: #63fc5d;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
}

@media (min-width: 1098px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 1098px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 900px) {
  .hamburger {
    grid-area: cc;
    display: flex;
  }
}

@media (max-width: 675px) {
  .hamburger:hover {
    background-color: transparent;
  }
}
