.hamburger {
  color: #222;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-bottom: 2px;
}

.hamburger:hover {
  background-color: #888;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
}

@media (min-width: 1098px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 1098px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 900px) {
  .hamburger {
    grid-area: cc;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 675px) {
  .hamburger:hover {
    background-color: transparent;
  }
}
