.navlinks {
  max-width: 400px;
  grid-area: cc;
  display: flex;
  padding-left: 32%;
  padding-right: 32%;
  justify-content: center;
  align-items: center;
}

.navlink--active {
  color: #63fc5d !important;
  border-bottom: 5px solid #63fc5d;
  transition: border-bottom 0.15s ease-in-out;
}

.navlink {
  text-decoration: none;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  padding: 11px 18px 12px 27px;
  width: 70px;
}

.navlink > .MuiSvgIcon-root {
  font-size: xx-large;
  padding-right: 10px;
}

.navlink:hover {
  background-color: #666;
  cursor: pointer;
  color: #63fc5d;
  border-bottom: 5px solid #63fc5d;
  transition: border-bottom 0.15s ease-in-out;
}

@media (max-width: 900px) {
  .navlinks {
    display: none;
  }
}
