.search {
  grid-area: cb;
  border-radius: 20px;
  background-color: rgb(180, 180, 180);
  margin: 8px 2px 8px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #111;
}

.search > input {
  border-radius: 20px;
  background-color: rgb(180, 180, 180);
  width: 100%;
  margin-left: 5px;
  outline: none;
  padding: 13px;
  border: none;
}

.search > button {
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
  padding: 4px;
  margin: 2px 5px 0 5px;
  border: none;
  cursor: pointer;
}
