.search {
  grid-area: cb;
  border-radius: 20px;
  background-color: rgb(177, 177, 177);
  margin: 8px 2px 8px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
}

.search > input {
  border-radius: 20px;
  background-color: rgb(177, 177, 177);
  width: 100%;
  margin-left: 5px;
  outline: none;
  padding: 13px;
  border: none;
}

.search > button {
  background-color: rgb(177, 177, 177);
  padding: 4px;
  margin-right: 10px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}
